/nbproject/private/
/Minimal-ejb/build/
/Minimal-war/build/
/build/
/Minimal-ejb/dist/
/Minimal-war/dist/
/dist/
/Minimal-ejb/nbproject/private
/Minimal-war/nbproject/private
/MinimalClient/build/
/MinimalClient/dist/
/MinimalClient/nbproject/private/
/MinimalCommon/nbproject/private/
/MinimalCommon/build/
/MinimalCommon/dist/
